.default-button
	padding 15px 20px
	text-transform uppercase
	color white
	height 80px
	display inline-block	
	outline none
	text-decoration none
	&:hover
		color white
	&:active, &:focus
		outline 0
		border none
		-moz-outline-style none
		color white			
	&:visited
		color white
		text-decoration none	
	img
		vertical-align middle
	span
		display inline-block	
		vertical-align middle
		padding-top 10px	
		
.default-button.orange-background
	background-color $color-orange
	div 
		float left
		margin-right 10px	
	span
		@media (min-width: 1500px)	
			margin-top 0px
		
.default-button.red-background
	background-color $color-red
	

.default-button.below-bottom-line
	position relative
	width 100%
	text-align center
	
	
#sevastopol
	.below-bottom-line		
		top 80px

#dosug		
	.below-bottom-line		
		top 80px

.rest-with-your-friends		
	.below-bottom-line		
		top 80px /* dont like this */	
		
#health
	.below-bottom-line		
		top 80px /* dont like this */

.garden-section
	.below-bottom-line		
		top 80px /* dont like this */					

#start .center-block a.down
	display block
	background url('../images/arrowdown.png') no-repeat 0 0
	height 57px
	width 57px
	margin 0 auto
	position absolute
	bottom -26px
	left 0
	right 0
	opacity 0.8
