.default-button
	display inline-block
	padding 10px 10px
	color white
	&:hover
		color white
.orange-background
	background-color $color-orange
.red-background
	background-color $color-red
	
.default-button
	font-size 22px /* check this */
	padding 20px 35px
	text-transform uppercase
	
.orange-background
	div 
		float left
		margin-right 10px	

.default-button.below-bottom-line
	position relative
	
	
#sevastopol
	.below-bottom-line		
		top 71px /* dont like this */	

#dosug		
	.below-bottom-line		
		top 200px /* dont like this */	

.rest-with-your-friends		
	.below-bottom-line		
		top 200px /* dont like this */	
		
#health
	.below-bottom-line		
		top 200px /* dont like this */			
	