.default-button
	padding 15px 20px
	text-transform uppercase
	color white
	height 80px
	display inline-block	
	outline none
	text-decoration none
	&:hover
		color white
	&:active, &:focus
		outline 0
		border none
		-moz-outline-style none
		color white			
	&:visited
		color white
		text-decoration none	
	img
		vertical-align middle
	span
		display inline-block	
		vertical-align middle
		padding-top 10px	
		
.default-button.orange-background,
.orange-background
	background-color $color-orange
	div 
		float left
		margin-right 10px	
	span
		@media (min-width 1500px)	
			margin-top 0px
		
.default-button.red-background,
.red-background
	background-color $color-red
	

.default-button.below-bottom-line
	position relative
	width 100%
	text-align center
	
	
#sevastopol
	.below-bottom-line		
		top 80px

#dosug		
	.below-bottom-line		
		top 80px

.rest-with-your-friends		
	.below-bottom-line		
		top 80px /* :todo dont like this */	
		
#health
	.below-bottom-line		
		top 80px /* :todo dont like this */

.garden-section
	.below-bottom-line		
		top 80px /* :todo dont like this */					

/* down arrow button */
#start .center-block a.down
	display block
	background url('../images/arrowdown.png') no-repeat 0 0
	height 57px
	width 57px
	margin 0 auto
	position absolute
	bottom -26px
	left 0
	right 0
	opacity 0.8


/* sidebar buttons */

.site-action 
    position fixed 
    right 0px 
    bottom 140px
    z-index 1290 
    -webkit-animation-duration 3s 
    -o-animation-duration 3s 
    animation-duration 3s     
 
.btn-floating 
    width 54px        
    padding 0 
    margin 0 
    border-radius 100% 
    -webkit-box-shadow 0 6px 10px rgba(0,0,0,.15) 
    box-shadow 0 6px 10px rgba(0,0,0,.15) 
    border-radius 42px 0px 0px 42px 
    padding-bottom 20px 
 
.btn-raised 
    -webkit-box-shadow 0 0 2px rgba(0,0,0,.18), 0 2px 4px rgba(0,0,0,.21) 
    box-shadow 0 0 2px rgba(0,0,0,.18), 0 2px 4px rgba(0,0,0,.21) 
    -webkit-transition -webkit-box-shadow .25s cubic-bezier(.4,0,.2,1) 
    -o-transition box-shadow .25s cubic-bezier(.4,0,.2,1) 
    transition box-shadow .25s cubic-bezier(.4,0,.2,1) 
 
.btn-floating.tour 
    margin-bottom 15px 
 
.btn-floating.tour img 
    position relative 
    top 10px 
    right -10px 
    width 40px 
    height 40px 
    display block 
 
.btn-floating.visit-place img 
    position relative 
    top 10px 
    right -16px 
    width 29px 
    height 21px 
    display block 
    padding-top 0px 
    margin-top 9px 
    margin-bottom 10px 
 
.btn-floating:hover 
    background-color #fe614e 
    border-color #fe614e 
 
.btn-floating.orange-background 
    border-color #ffa841       
 
.btn-floating.red-background 
    border-color #fe614e       
 
.btn-floating.orange-background:hover 
    border-color #fe614e 
 
.btn-floating.orange-background:hover 
    border-color #ffa841 
 
.btn-floating 
    outline none 
    width 57px 
    display block 
  
.btn-floating:focus, 
.btn-floating:active 
    outline 0 
    -moz-outline-style none       