footer#contacts
	background-color #3b3b3b
	color white  
    a
		color white
		outline none
	h2
		text-align center	
	.size-48-63
		width 48px /* check this */
		height 63px /* check this */
		margin-left 32px /* check this */
		margin-top 25px
	.size-74-54
		width 74px
		height 54px
		margin-left 19px /*check this*/	
		margin-top 25px
	.size-66-66
		width 66px
		height 66px
		margin-left 24px
		margin-top 20px
		img
			margin-left 32px
			margin-top 25px
	.footer-block p		
		text-align center
		line-height 25px
		
footer#contacts a:hover,
footer#contacts a:visited,
footer#contacts a:active,
footer#contacts a:focus
	color white
	outline 0
	border none
	-moz-outline-style none

footer#contacts figure	
	border-style solid
	border-width 3px
	border-color #ffffff
	background-color transparent
	border-radius 62px /* check this */
	width 116px /* check this */
	height 116px /* check this */
	margin 0 auto