footer
	background-color #3b3b3b
	color white
    height 366px
    
    a
		color white
		outline none
    figure
		border-style solid
		border-width 3px
		border-color #ffffff
		background-color transparent
		border-radius 62px
		width 116px
		height 116px
		margin 0 auto
		margin-bottom 15px