.navbar-default .navbar-collapse
	display flex!important
	justify-content space-between
	align-items center
.nav-button-messenger
	width 20px
	height 20px
.navbar
	border-top 30px solid $color-green
	background white
	box-shadow 0px 0px 10px 0px black
.nav-button-messenger
	width 30px
	height 30px
	padding 0px!important
	margin-right: 10px
	img
		width 40px
		height 40px
.nav-button.navbar-contact
	display inline-block
	padding 5px 15px
	color white!important
	border-radius 4px
	margin-right 10px
	& > div
		float left
		margin-right 10px
	&.mail
		background linear-gradient(#6aaef0, #4477a8)
	&.phone
		background linear-gradient(#fe4545, #ab2a2a)
.nav.nav-links
	a
		font-size 24px /* check this */
.nav.navbar-nav
	padding-top 15px
	padding-bottom 15px			
	
.navbar-icons	
	a
		font-size 16px
	.nav-button.navbar-contact
		padding 8px 20px
		margin-right 25px;
	.nav-button-messenger
		margin-right 10px		