.navbar-default .navbar-collapse
	display flex!important
	justify-content space-between
	align-items center
.nav-button-messanger
	width 20px
	height 20px
.navbar
	border-top 30px solid $color-green
	background white
	box-shadow 0px 0px 6px 0px black
.nav-button-messanger
	width 30px
	height 30px
	padding 0px!important
	margin-right: 10px
	img
		width 30px
		height 30px
.nav-button.navbar-contact
	display inline-block
	padding 5px 15px
	color white!important
	border-radius 4px
	margin-right 10px
	& > div
		float left
		margin-right 10px
	&.mail
		background linear-gradient(#6aaef0, #4477a8)
	&.phone
		background linear-gradient(#fe4545, #ab2a2a)
			