.modal-header
	padding 15px 20px
	border-bottom none
	
.modal-content
	border-color #999999
	background-color #0A75A7
	color:white

.modal
	.close 
		color white
		&:hover
			opacity 0.9
			color white
	
.modal-title
	color white