.modal-header
	padding 15px 20px
	border-bottom none
.modal 
	button.close 
		color white
		&:hover
			opacity 0.9
			color white
	.row-big-inputs > input
		height 28px
	.modal-content	
		border-color none
		background-color #0A75A7
		color white
		border-radius 0	
	.modal-title
		color white
		
.modal .error
	display none	


/* this part is working */	
.modal .modal-body .col-centered input
	height 28px		
	
.modal .modal-body .col-centered input,
.modal .modal-body .col-centered select,
.modal-body .select2.select2-container.select2-container--default
	width 100px
	text-align center
	color black
	
.modal-body
	margin-bottom 30px
.modal-body .ml-13
	margin-left 13px
.modal-body .col-centered button
	width 100%		
	
.modal input
	border-radius 0px
	height 28px
	
.modal .row-big-inputs input	
	height 52px
	font-size 20px