.parameters-block p
	margin-bottom 0px
.welcome-section
	margin-top 52px
#start.welcome-section h1
	margin-top 0px
	@media (min-width: 992px)
		margin-top 110px		
.welcome-section .right-column	
	padding-bottom 90px
.welcome-section .right-column .default-button
	margin-right 30px	
.text-section
	p
		padding 0px 120px
		margin-bottom 0px	
.benefit-section
	padding-bottom 50px		
	.benefit-title
		padding-bottom 50px
		margin-top 0px
		margin-bottom 0px
.circle-image-section h2
	margin-top 75px
	margin-bottom 110px
.circle-image-section h3
	margin-top 0px
	margin-bottom 40px	
.parameters-section h2
	@media (max-width: 767px)
		margin-top 60px
		margin-bottom 30px
	@media(min-width: 768px) and (max-width: 991px)
		margin-top 60px
		margin-bottom 30px
	@media (min-width: 992px) 
		margin-top 60px
		margin-bottom 30px
	@media (min-width: 1200px)	
		margin-top 130px
		margin-bottom 60px
.parameters-block h3.red-background
	margin-bottom 50px
.benefit-section .row				
	margin-bottom 50px	
#white-text-only p
	padding-top 240px
	padding-bottom 90px
.quote-section h2
	margin-top 108px
	margin-bottom 60px
.quote-section blockquote
	margin-bottom 90px		
.quote-section .row-buttons
	margin-bottom 80px
.quote-section .row-buttons a
	margin-right 50px
#contactForm h2
	margin-top 40px
	margin-bottom 50px
.col-left-form input
	margin-bottom 15px
.form-section .btn-red
	margin-top 70px	
	
.modal .modal-body .col-centered input, 				
.modal-body .select2.select2-container.select2-container--default,
.row.row-with-three-inputs input,
.row.row-with-three-inputs .select2.select2-container.select2-container--default
	margin-right 15px

#contactForm 
	margin-bottom 50px

footer#contacts
	padding-bottom 125px
	h2	
		margin-top 100px
		margin-bottom 50px
	figure
		margin-bottom 20px					

#themap
	height 600px
