@media screen and (min-width: 900px)
	a.down
		-webkit-animation adown 1s infinite
		animation adown 1s infinite


@media screen and (max-width: 768px)
	.show-on-responsive
		display block !important
	.hide-on-responsive
		display none
		
@media (max-width: 1200px)
	.nav.navbar-icons .nav-button-messenger
		margin-right 5px
		img
			width 30px
			height 30px
	.nav.navbar-icons a
		font-size 15px
	.nav.navbar-icons .nav-button.navbar-contact
		padding 8px 9px
		margin-right 5px
	.nav.nav-links a
		font-size 20px				

@media (min-width: 768px) and (max-width: 992px)
	.benefit-section
		.col-md-2
			margin-bottom 50px
			min-height 200px
		.row	
			margin-bottom 0px
		.col-md-2.sm-mb-0
			margin-bottom 0px
		.col-md-2.h-265
			min-height 265px
		.colx-sm-offset-2
			margin-left 16.66664%	

			

/************************/


@media (max-width: 767px)
	footer#contacts
		padding-bottom 60px
		.row .col-md-4
			margin-bottom 25px
	.form-section
		.container-fluid
			width 100%
		.row-padding-120
			padding-left 0px
		.col-left-form input
			width 100%
		.col-centered.form-inline
			padding-left 100px
			.form-group
				float left
		.btn-red
			margin-right 0px
			
	.quote-section
		h2
			height initial
		.row
			padding 0 40px
		.pull-right .orange-background
			margin-left 0px	
		.default-button span
			padding-top 0px
			margin-top -4px
			

	/*header
		display none*/
				
		
@media(min-width: 768px) and (max-width: 991px)
	footer#contacts
		padding-bottom 100px
		.footer-block p
			font-size 24px
			
	/*.form-section .container-fluid
	 	width 100%
	.form-section .row-padding-120 	
		padding-left 0px
	.form-section .btn-red
		margin-right 0px*/
	.quote-section
		h2
			height initial
		.row
			padding 0 80px	
		.pull-right .orange-background
			margin-left 0px
		.default-button span
			padding-top 0px
			margin-top -4px	
			
								
							
	/*header
		display none*/
/*
@media (min-width: 768px) 
	footer#contacts
		padding-bottom 100px
		.footer-block p
			font-size 24px
			
	.form-section
		.container-fluid
		 	width 100%
		.row-padding-120 	
			padding-left 0px
		.btn-red
			margin-right 0px			
	header
		display none		
*/
 					
@media (min-width: 992px) 
	.form-section
		.container-fluid
			width 100%
		.row-padding-120	
			padding-left 0px
	.quote-section
		h2
			height initial
		.row
			padding 0 80px
		.pull-right .orange-background
			margin-left 0px		
			

	
	.parameters-block
		margin-bottom 60px					
				
	/*header
		display none*/		
				
					
@media (min-width: 1200px)
	.form-section
		.container-fluid
		 	width 100%
		.row-padding-120 	
			padding-left 120px
	.quote-section
		.col-lg-5
			width 35%
	/*header
		display none	*/

@media (min-width: 1500px)
	.quote-section
		.col-lg-5
			width 25%
	.footer-block p
		line-height 38px
	#characteristics .container
		width 1520px
	.parameters-block
		margin-bottom 0px					
	/*header
		display none*/
						
				