@media screen and (min-width: 900px)
	a.down
		-webkit-animation adown 1s infinite
		animation adown 1s infinite


@media screen and (max-width: 768px)
	.show-on-responsive
		display block !important
	.hide-on-responsive
		display none
		
@media (max-width: 1200px)
	.nav.navbar-icons .nav-button-messenger
		margin-right 5px
		img
			width 30px
			height 30px
	.nav.navbar-icons a
		font-size 15px
	.nav.navbar-icons .nav-button.navbar-contact
		padding 8px 9px
		margin-right 5px
			

@media (min-width: 768px) and (max-width: 992px)
	.benefit-section
		.col-md-2
			margin-bottom 50px
			min-height 200px
		.row	
			margin-bottom 0px
		.col-md-2.sm-mb-0
			margin-bottom 0px
		.col-md-2.h-265
			min-height 265px
		.colx-sm-offset-2
			margin-left 16.66664%	

			

/************************/

@media (max-width: 319px)
	#start.welcome-section h1
		padding-left 30px
		line-height 40px
	#start.welcome-section h2
		text-align left
		padding-left 30px
	.default-button.orange-background span
		margin-top 8px
		
	#sevastopol
		.text-wrapper
			padding-top 25px
			position relative
			left 100px
		.image-wrapper
			display none
	
	#dosug
		.text-wrapper
			padding-top 25px
			position relative
			left 100px
		.image-wrapper
			display none
				
	#health
		.text-wrapper
			padding-top 25px			
			position relative
			left 100px			
		.image-wrapper
			display none

	#characteristics h2
		margin-top 120px			 			
		font-size 40px 			 			

	.garden-section
		.text-wrapper
			padding-top 25px
			position relative
			left 100px
		.image-wrapper
			display none
						
	.rest-with-your-friends			
		.text-wrapper
			padding-top 25px
			position relative
			left 100px						
			
	.form-section .container-fluid
		width 300px
		
@media (min-width: 320px) and (max-width: 380px)
	.image-right .text-wrapper
		position relative
		left 100px				
@media (min-width: 380px) and (max-width: 480px)
	.image-right .text-wrapper
		position relative
		left 80px
	.form-section
		.col-left-form input
			width 100%	
		

@media (min-width: 480px) and (max-width: 580px)
	.image-right .text-wrapper
		width 400px
		padding-left 40px
		padding-right 40px
								
@media(min-width: 320px) and (max-width: 600px)
	#sevastopol
		.text-wrapper
			padding-top 25px
						
		.image-wrapper
			display none
	
	#dosug
		.text-wrapper
			padding-top 25px
		.image-wrapper
			display none			
	#health
		.text-wrapper
			padding-top 25px			
						
		.image-wrapper
			display none

	#characteristics h2
		margin-top 120px
		font-size 40px 			 			
		

	.garden-section
		.text-wrapper
			padding-top 25px
			
		.image-wrapper
			display none
	.rest-with-your-friends			
		.text-wrapper
			padding-top 25px			
			
		.image-wrapper
			display none			
			
	.form-section .container-fluid
		width 100%
	.form-section .row-padding-120
		padding-left 0px
	.form-section .form-group
		width 30%
		float left	
				
@media(min-width: 320px) and (max-width: 600px)
	#start.welcome-section h1
		line-height 40px
		padding-left 30px
	#start.welcome-section h2
		text-align left
		padding-left 30px
	.default-button.orange-background span		
		margin-top 8px
		
	.quote-section
		h2
			font-size 32px
		.row
			padding 0 40px	
		.default-button.orange-background span
			margin-top 0px
			
			
@media (min-width: 600px) and (max-width: 767px)
	footer#contacts
		padding-bottom 60px
		.row .col-md-4
			margin-bottom 25px
	.form-section
		.container-fluid
			width 100%
		.row-padding-120
			padding-left 0px
		.col-left-form input
			width 100%
		.col-centered.form-inline
			padding-left 100px
			.form-group
				float left
		.btn-red
			margin-right 0px
			
	.quote-section
		h2
			height initial
		.row
			padding 0 40px
		.pull-right .orange-background
			margin-left 0px	
		.default-button span
			padding-top 0px
			margin-top -4px
	

	header
		.show-on-responsive
			display none		

			
	#white-text-only
		p 
			padding-left 60px
			padding-right 60px
			padding-top 120px
	

	
	#sevastopol
		.text-wrapper
			padding-top 550px
		.image-wrapper
			top -4%
	
	#dosug
		.text-wrapper
			padding-top 520px

	#health
		.text-wrapper
			padding-top 740px			
		.image-wrapper
			top -4%

	#characteristics h2
		margin-top 120px			 			
		

	.garden-section
		.text-wrapper
			padding-top 580px

	.rest-with-your-friends			
		.text-wrapper
			padding-top 580px
					
@media(min-width: 768px) and (max-width: 991px)
	footer#contacts
		padding-bottom 100px
		.footer-block p
			font-size 24px
			
	.quote-section
		h2
			height initial
		.row
			padding 0 80px	
		.pull-right .orange-background
			margin-left 0px
		.default-button span
			padding-top 0px
			margin-top -4px	
				@media (min-width: 600px) and (max-width: 767px)
					font-size 19px
	
	#second				
		p 
			padding 60px 60px
			
	#white-text-only
		p 
			padding-left 60px
			padding-right 60px
			padding-top 120px			
			

	#sevastopol
		.text-wrapper
			padding-top 550px
		.image-wrapper
			top -8%
	
	#dosug
		.text-wrapper
			padding-top 520px

	#health
		.text-wrapper
			padding-top 740px			
		.image-wrapper
			top -4%

	#characteristics h2
		margin-top 120px			 			
		

	.circle-image-section.garden-section
		.text-wrapper
			padding-top 580px

	.circle-image-section.image-right.rest-with-your-friends			
		.text-wrapper
			padding-top 580px	

	/*header
		display none*/
/*
@media (min-width: 768px) 
	footer#contacts
		padding-bottom 100px
		.footer-block p
			font-size 24px
			
	.form-section
		.container-fluid
		 	width 100%
		.row-padding-120 	
			padding-left 0px
		.btn-red
			margin-right 0px			
	header
		display none		
*/
 					
@media (min-width: 992px) 
	.form-section
		.container-fluid
			width 100%
		.row-padding-120	
			padding-left 0px
	.quote-section
		h2
			height initial
		.row
			padding 0 80px
		.pull-right .orange-background
			margin-left 0px		
			

	
	.parameters-block
		margin-bottom 60px
		
	#second				
		p 
			padding 60px 60px
			padding-bottom 120px
			
			
	#white-text-only
		p 
			padding-left 60px
			padding-right 60px
			padding-top 120px							
				
	
		
	#photogallery h2
		margin-top 120px	
		

	#sevastopol
		padding-left 15px
		padding-right 15px
		/*.text-wrapper
			padding-top 550px*/
		.image-wrapper
			top -7%
			width 500px
			height 500px
		h2
			margin-bottom 60px 
		h3
			font-size 34px
			line-height 40px
			margin-bottom 0px
		.row > div
			width 100%
			margin-left 0px			
	
	#dosug
		padding-left 15px
		padding-right 15px
		.text-wrapper
			/*padding-top 520px*/
		.image-wrapper
			top -7%
			width 500px
			height 500px
		h2
			margin-bottom 60px 
		h3
			font-size 34px
			line-height 40px
			margin-bottom 0px
		.row > div
			width 100%
			margin-left 0px				
			
	#health
		padding-left 15px
		padding-right 15px
		.text-wrapper
			/*padding-top 520px*/
		.image-wrapper
			top -7%
			width 500px
			height 500px
		h2
			margin-bottom 60px 
		h3
			font-size 34px
			line-height 40px
			margin-bottom 0px
		.row > div
			width 100%
			margin-left 0px	

	#characteristics h2
		margin-top 120px			 			
		

	.circle-image-section.image-left.garden-section
		padding-left 15px
		padding-right 15px
		.image-wrapper
			top -7%
			width 500px
			height 500px
		h2
			margin-bottom 60px 
		h3
			font-size 34px
			line-height 40px
			margin-bottom 0px
		.row > div
			width 100%
			margin-left 0px	

	.circle-image-section.image-right.rest-with-your-friends			
		.text-wrapper
		padding-left 15px
		padding-right 15px
		.text-wrapper
			/*padding-top 520px*/
		.image-wrapper
			top -7%
			width 500px
			height 500px
		h2
			margin-bottom 60px 
		h3
			font-size 34px
			line-height 40px
			margin-bottom 0px
		.row > div
			width 100%
			margin-left 0px	
				

@media (min-width: 1200px) and (max-width: 1500px)
	/*#sevastopol h2
		margin-bottom 40px*/
	#sevastopol h3
		font-size 30px	
		line-height 36px
		
	#characteristics h2
		margin-top 90px
		margin-bottom 40px
		font-size 60px
		
	#characteristics .parameters-block h3
		font-size 30px	
			
	#dosug h3
		font-size 30px	
		line-height 36px	
		
	#photogallery h2
		font-size 50px
	
	#photogallery .gallery-thumbs-container
		margin-bottom 0px	

	#infrastructure .col-md-2
		min-height 180px
		
	#health h3
		font-size 30px	
		line-height 36px
	
	.circle-image-section.image-left.garden-section h3
		font-size 30px	
		line-height 36px
	
	.circle-image-section.image-right.rest-with-your-friends	
		font-size 30px	
		line-height 36px
		
	.col-left-form input
		width 480px			
		
@media (min-width: 1200px)
	.form-section
		.container-fluid
		 	width 100%
		.row-padding-120 	
			padding-left 120px
	.quote-section
		.col-lg-5
			width 35%
			

	#second				
		p 
			padding 60px 60px
			
	#white-text-only
		p 
			padding 0px 120px	

	#sevastopol
		padding-left 15px
		padding-right 15px
		/*.text-wrapper
			padding-top 550px*/
		.image-wrapper
			top -7%
			width 590px
			height 590px
					
	
	#dosug
		padding-left 15px
		padding-right 15px
		.text-wrapper
			/*padding-top 520px*/
		.image-wrapper
			top -7%
			width 590px
			height 590px
					
			
	#health
		padding-left 15px
		padding-right 15px
		.text-wrapper
			/*padding-top 520px*/
		.image-wrapper
			top -7%
			width 590px
			height 590px
		

	#characteristics h2
		margin-top 120px			 			
		

	.circle-image-section.image-left.garden-section
		padding-left 15px
		padding-right 15px
		.image-wrapper
			top -7%
			width 590px
			height 590px
			

	.circle-image-section.image-right.rest-with-your-friends			
		.text-wrapper
		padding-left 15px
		padding-right 15px
		.text-wrapper
			/*padding-top 520px*/
		.image-wrapper
			top -7%
			width 590px
			height 590px
			

@media (min-width: 1500px)
	.quote-section
		.col-lg-5
			width 25%
	.footer-block p
		line-height 38px
	#characteristics .container
		width 1520px
	.parameters-block
		margin-bottom 0px
		

	.site-action						
		display none
		
	#second
		p		
	    	padding 0px 120px
	    	
	#sevastopol
		/*.text-wrapper
			padding-top 550px*/
		padding 0px 120px
		.image-wrapper
			top -7%
			width 760px
			height 710px
		h2
			margin-bottom 60px
			/*font-size 50px*/ 
		h3
			font-size 34px
			line-height 55px
			margin-bottom 0px
		.row > div
			width initial
			margin-left 44%						
	
	#dosug
		padding 0px 120px
		.text-wrapper
			/*padding-top 520px*/
		.image-wrapper
			top -7%
			width 760px
			height 710px
		h2
			margin-bottom 60px
			/*font-size 50px*/ 
		h3
			font-size 34px
			line-height 55px
			margin-bottom 40px
		.row > div
			width initial
			/*margin-left 44%*/						
			
	#health
		padding 0px 120px
		.text-wrapper
			/*padding-top 520px*/
		.image-wrapper
			top -7%
			width 760px
			height 710px
		h2
			margin-bottom 60px
			/*font-size 50px*/ 
		h3
			font-size 34px
			line-height 55px
			margin-bottom 40px
		.row > div
			width initial
			margin-left 44%			

	#characteristics h2
		/*margin-top 120px*/			 			
		

	.circle-image-section.image-left.garden-section
		padding 0px 120px
		.image-wrapper
			top -7%
			width 760px
			height 710px
		h2
			margin-bottom 60px
			/*font-size 50px*/ 
		h3
			font-size 34px
			line-height 55px
			margin-bottom 40px
		.row > div
			width initial
			/*margin-left 44%*/				

	.circle-image-section.image-right.rest-with-your-friends			
		padding 0px 120px
		.text-wrapper
			/*padding-top 520px*/
		.image-wrapper
			top -7%
			width 760px
			height 710px
		h2
			margin-bottom 60px
			/*font-size 50px*/ 
		h3
			font-size 34px
			line-height 55px
			margin-bottom 40px
		.row > div
			width initial
			margin-left 44%	
						
	.col-left-form input
		width 600px


	#white-text-only
		p 
			padding-left 60px
			padding-right 60px
			padding-top 120px
			
@media (min-width: 1700px)				
	#sevastopol
		/*.text-wrapper
			padding-top 550px*/
		padding 0px 120px
		.image-wrapper
			top -17%
			width 854px
			height 786px
		h2
			margin-bottom 120px
			/*font-size 50px*/ 
		h3
			font-size 34px
			line-height 55px
			margin-bottom 0px
		.row > div
			/*width initial
			margin-left 44%*/
			width 50%
			margin-left 0px
			float right						
	
	#dosug
		padding 0px 120px
		.text-wrapper
			/*padding-top 520px*/
		.image-wrapper
			top -17%
			width 854px
			height 786px
		h2
			margin-bottom 120px
			/*font-size 50px*/ 
		h3
			font-size 34px
			line-height 55px
			margin-bottom 40px
		.row > div
			width 50%
					
			
	#health
		padding 0px 120px
		.text-wrapper
			/*padding-top 520px*/
		.image-wrapper
			top -5%
			width 854px
			height 786px
		h2
			margin-bottom 120px
			/*font-size 50px*/ 
		h3
			font-size 34px
			line-height 55px
			margin-bottom 40px
		.row > div
			width 50%
			margin-left 0px
			float right		

 			
		

	.circle-image-section.image-left.garden-section
		padding 0px 120px
		.image-wrapper
			top -17%
			width 854px
			height 786px
		h2
			margin-bottom 120px
			/*font-size 50px*/ 
		h3
			font-size 34px
			line-height 55px
			margin-bottom 40px
		.row > div
			width 50%
						

	.circle-image-section.image-right.rest-with-your-friends			
		padding 0px 120px
		.text-wrapper
			/*padding-top 520px*/
		.image-wrapper
			top -17%
			width 854px
			height 786px
		h2
			margin-bottom 120px
			/*font-size 50px*/ 
		h3
			font-size 34px
			line-height 55px
			margin-bottom 40px
		.row > div
			/*width initial
			margin-left 50%	*/
			width 50%
			margin-left 0px
			float right