.two-column-section
	.container-fluid
			display flex
	.right-column,
	.left-column
		width 50%
		
/* WELCOME SECTION */
.welcome-section
	display flex
	height calc(100vh - 60px)
	background url('../images/banner/banner-a.png')
	background-size cover
	background-repeat no-repeat
	h1
		background-color rgba(39,174,166,0.5)
		color white
		padding-left 150px
		margin-bottom 0px
		width 60%
		min-width 480px
		span
			text-transform uppercase
			color white
	h2
		background-color white
		color #173b63
		padding-left 150px
		min-width 450px
		margin-top 0px
		width 50%
	.right-column
		display flex
		height 100%
		align-items flex-end
		justify-content flex-end
	.row-down-arrow
		.center-block
			width 200px
			background-color #ccc
.text-section
	min-height 285px
	display flex
	align-items center

#start.welcome-section
	@media(max-width: 767px)
		flex-flow row
		flex-wrap wrap
		margin-top 22px
		height calc(65vh - 60px)
	@media(min-width: 768px) and (max-width: 898px)	
		flex-flow row
		flex-wrap wrap
		height calc(65vh - 60px)
		padding-left 15px
		padding-right 15px
	@media(min-width: 898px) and (max-width: 991px)	
		flex-flow row
		flex-wrap wrap
		height calc(60vh - 60px)
		padding-left 15px
		padding-right 15px
	@media (min-width: 992px)
		height calc(96vh - 60px)
	@media (min-width: 992px)
		height calc(100vh - 60px)
		padding-left 0px
		padding-right 0px	
	@media (min-width: 1500px)	
		display flex
		height calc(100vh - 60px)
		padding-left 0px
		padding-right 0px
	.left-column
		@media(max-width: 767px)
			flex 1			
			width 100%
		@media(min-width: 768px) and (max-width: 898px)					
			flex 1			
			width 100%
			margin-left -15px
		@media(min-width: 898px) and (max-width: 991px)	
			flex 1			
			width 100%
			margin-left -15px
		@media (min-width: 992px)
			width 40%
		@media (min-width: 1200px)
			width 55%	 
		@media (min-width: 1500px)
			width 50%
	.right-column
		@media(max-width: 767px)
			flex 1
			height initial
			width 100%
			margin-left 30px
			margin-top 40px
		@media(min-width: 768px) and (max-width: 898px)						
			flex 1
			height initial
			width 100%
			margin-top 40px
		@media(min-width: 898px) and (max-width: 991px)
			flex 1
			height initial
			width 100%		
			margin-top 310px
			padding-bottom 20px	
		@media (min-width: 992px) 
			height initial
			width 60%
			padding-bottom 90px
		@media (min-width: 1200px)	
			height initial
			width 60%
			padding-bottom 90px
		@media (min-width: 1500px)
			height initial
			width 60%
			padding-bottom 90px
	h1
		@media(max-width: 767px)
			padding-right 36px
			padding-left 36px
			font-size 64px
			line-height 40px
			/*margin-top 0px*/
		@media(min-width: 768px) and (max-width: 898px)							
			padding-right 36px
			padding-left 36px
			font-size 64px
			line-height 40px
			/*margin-top 0px*/
		@media(min-width: 898px) and (max-width: 991px)	
			padding-right 36px
			padding-left 36px
			font-size 64px
			line-height 40px
			/*margin-top 0px*/
		@media (min-width: 992px)
			padding-right 36px
			padding-left 36px
			font-size 64px
			line-height 40px
			/*margin-top 110px*/
		@media (min-width: 1200px)
			padding-right 6px
			font-size 56px
			line-height 40px
		@media (min-width: 1500px)
			line-height 50px
		    width 100%
		    font-size 101px
		    padding-left 70px				
		    padding-right 0px
		@media (min-width: 1600px)  
			line-height 77px
		    width 100%
		    font-size 101px
		    padding-left 150px				
		    padding-right 0px  
		span.big,
		span.small
			@media(max-width: 767px)
				font-size 42px
			@media(min-width: 768px) and (max-width: 898px)								
				font-size 42px
			@media(min-width: 898px) and (max-width: 991px)	
				font-size 42px
			@media (min-width: 992px) 
				font-size 37px	
			@media (min-width: 1200px)
				font-size 37px
			@media (min-width: 1500px)
				font-size 48px
			@media (min-width: 1600px)
				font-size 70px
		span.small
			@media (min-width: 1600px)
				font-size 55px							
	h2
		@media(max-width: 767px)
			/*padding-right 36px*/
			padding-left 36px
			font-size 25px
		@media(min-width: 768px) and (max-width: 898px)									
			/*padding-right 36px*/
			padding-left 36px
			font-size 25px
		@media(min-width: 898px) and (max-width: 991px)
			/*padding-right 36px*/
			padding-left 36px
			font-size 25px	
		@media (min-width: 992px) 
			/*padding-right 36px*/
			padding-left 36px
			font-size 25px	
		@media (min-width: 1200px)
			/*padding-right 36px*/
			padding-left 36px
			font-size 25px
		@media (min-width: 1500px)
			/*padding-right 36px*/
			padding-left 70px
			font-size 28px
		@media (min-width: 1600px)
			padding-left 150px
			font-size 30px		
					
	.default-button
		@media(max-width: 767px)
			width 50%
		@media(min-width: 768px) and (max-width: 898px)													
			width 100%
		@media(min-width: 898px) and (max-width: 991px)	
			width 100%
			font-size 16px
		@media (min-width: 992px) 
			font-size 16px 
			margin-right 0px
		@media (min-width: 1200px)
			font-size 20px
			width 50%
		@media (min-width: 1500px)
			font-size 20px
			width 50%
				
	.default-button span
		@media(max-width: 767px)
			padding-top 0px
			margin-top 0px
			display block
			text-align center
		@media(min-width: 768px) and (max-width: 898px)	
			padding-top 0px
			margin-top -4px
			display block
			text-align center
		@media(min-width: 898px) and (max-width: 991px)	
			padding-top 0px
			display block
			text-align center
		@media (min-width: 1200px)
			padding-top 0px	
			text-align center
		@media (min-width: 1500px)
			padding-top 0px	
			text-align center
			
		
	.default-button.orange-background
		@media(min-width: 768px) and (max-width: 898px)	
			margin-right 15px!important
		@media(min-width: 898px) and (max-width: 991px)
			margin-right 15px!important
		@media (min-width: 1500px)
			margin-right 15px!important
			width 30%
		div		
			@media(max-width: 767px)
				display none
				float none
				margin-right 0px
			@media(min-width: 768px) and (max-width: 898px)			
				display none
				float none
				margin-right 0px
			@media(min-width: 898px) and (max-width: 991px)
				display none
				float none
				margin-right 0px
			/*@media (min-width: 992px)
				display none*/	
			@media (min-width: 1500px)
				display block
				float left
				margin-right 10px
			img
				width 90%	
								
	.default-button.orange-background span
		@media(min-width: 560px)
			margin-top 0px
		@media(max-width: 767px)
			margin-top 0px
		@media(min-width: 768px) and (max-width: 850px)
			margin-top 0px
		@media(min-width: 850px) and (max-width: 898px)
			margin-top 8px	
		@media (min-width: 1200px)
			margin-top 8px
		@media (min-width: 1500px)
			margin-top 8px
		@media (min-width: 1500px)
			margin-top 8px			
	.row.row-down-arrow
		@media(max-width: 767px)
			display none
		@media(min-width: 768px) and (max-width: 898px)
			display none
		@media (min-width: 992px) 
			width 5%	
		@media (min-width: 1200px)	
			width 3%
		@media (min-width: 1500px)
			width 3%
	.default-button.red-background
		@media (min-width: 992px) 
			margin-right 30px
		@media (min-width: 1500px)
			margin-right 30px
		span
			@media(max-width: 767px)
				margin-top -4px
			@media(min-width: 850px) and (max-width: 898px)
				margin-top 8px
			@media(min-width: 1425px) and (max-width: 1500px)		
				margin-top 8px
			@media (min-width: 1500px)
				padding-top 10px
				margin-top 0px
				display block
			@media (min-width: 1600px)			
				padding-top 10px
				margin-top 0px
				display block
								
				
/*.welcome-section

	@media(min-width: 768px) and (max-width: 991px)
		display none
	@media (min-width: 992px)	
		display none
	@media (min-width: 1200px)
		display none
	@media (min-width: 1500px)
		display block
*/		
	
.benefit-section
	background $color-blue
	color white
	text-align center
	z-index 2
	padding-top 60px
	.benefit-block
		width 70%
		margin auto	
		img
			width 120px

	
		 		
.benefit-section .benefit-block img
	width 120px

.circle-image-section
	position relative
	min-height 500px
	background-color $color-green
	padding 0 120px
	&.image-left .image-wrapper,
	&.image-right .image-wrapper
		position absolute
		top 0
		border-radius 50%
		overflow hidden
		width 980px
		height 980px

		/*background-image url('../images/circle/circle-photo-1.jpg')*/
		/*background-position center center
		background-repeat no-repeat*/
			
		z-index -1
	&.image-left .image-wrapper
		border-top-right-radius 0%
		/*border-radius 50%*/
		right -10%
		top: -10%
		/*width 900px
		height 900px*/
	&.image-right .image-wrapper
		border-top-left-radius 0%
		/*left -10%*/
		left -20%
		top -20%
		
		width 980px
		height 910px
		left -6%
		top -20%
			
	.text-wrapper
		color white
	
#infrastructure,
#communication,
#benefits-two-rows,
#health,
#white-text-only,
.garden-section,
.quote-section
	position relative

#communication,
.quote-section,
#characteristics,
#benefits-two-rows,
#infrastructure
	z-index 50
	
#sevastopol,
#dosug,
.garden-section
	z-index 35


#health,
.rest-with-your-friends
	z-index 45
	
#white-text-only
	background white
	z-index 40
	

body
	overflow-x hidden

/*
.circle-image-section
	
	&.image-right .image-wrapper
		position absolute
		left -20%
		top -20%
		width 70%
		border-radius 50%
		overflow hidden
		z-index -1*/

/* Ne vyhodi na Knosoli */

		
.parameters-section
	h2
		color $color-green
		text-align center
	h3
		text-align center
		color white
		padding 20px 0px
		font-size 30px
	.parameters-block
		h4,
		p span
			color $color-blue
			
/* Quote section */			
.quote-section
	min-height 600px
	background-image url('../images/banner/banner-c.png')
	background-size cover
	background-repeat no-repeat
	background-position center center
    	
.quote-section h2
	background rgba(39,174,166,.5)
	display inline-block
	padding 5px 25px
	height 80px
    	
.quote-section *
	color white
	
.quote-section blockquote
	background rgba(39,174,166,0.5)
	marign auto 0
	padding 10px 60px
	quotes "\201C""\201D""\2018""\2019"
	border none
	position relative      	
	
.quote-section .row
	padding 0px 120px
	margin-bottom 90px
	
.quote-section .default-button
	width 100%
	text-align: center;

.quote-section .pull-right .orange-background
	margin-left 20px

/*blockquote*/
/* :todo fix this */
.quote-section {
    color: white;
}
/*.quote-section h2 {
    background: rgba(39,174,166,.5);
    display: inline-block;
    padding: 5px 25px;
}*/

.quote-section blockquote:before,
.quote-section blockquote:after {
    position: absolute;
    width: 60px;
    height: 60px;
    font-size: 120px;
    line-height: 1;
    /*font-size: 4em;*/
    /*font-size: 30px;*/
}
.quote-section blockquote:before {
    top: 0;
    left: 0;
    content: "\201C";
}
.quote-section blockquote:after {
    bottom: 0;
    right: 0;
    content: "\201D";
}





/* Slider */
#characteristics .parameters-block h4,
#characteristics.parameters-block p
	margin-left 5px	
	
#characteristics
	#bxslider
		img
			/*width 70%
			height 70%*/
				
#characteristics .bx-controls .fa.fa-6x
	font-size 4em
	@media (min-width: 992px)
		font-size 3em
	
	
/*#characteristics .plans-wrapper .bx-controls
    position relative
    bottom 300px
*/





.column-left-characteristic
	/*@media (max-width: 767px)
		padding-right 0px*/
	@media (min-width: 1500px)	
		padding-right 45px

.column-right-characteristic	
	/*@media (max-width: 767px)	
		padding-left 0px*/
	@media (min-width: 1500px)
		padding-left 45px		

#characteristics .bx-controls
	position relative
	// @media (max-width: 767px)
	bottom 300px
	@media (min-width: 992px)
		bottom 250px
	@media (min-width: 1200px)	
		bottom 300px




.plans-wrapper .bx-viewport /* :todo change this */
	@media (max-width: 767px)
		margin 0 26px /* :todo change this */
	@media(min-width: 768px) and (max-width: 991px)
		margin 0 65px /* :todo change this */
	@media (min-width: 992px)	
		margin 0 auto /* :todo change this */
	@media (min-width: 1200px)
		margin 0 auto /* :todo change this */
	@media (min-width: 1500px)
		margin 0 55px /* :todo change this */			
		
.plans-wrapper .bx-next
	@media (max-width: 767px)
		left 94% /* :todo change this */
	@media(min-width: 768px) and (max-width: 991px)	
		left 106% /* :todo change this */
	@media (min-width: 992px)
		left 86% /* :todo change this */
	@media (min-width: 1200px)
		left 89% /* :todo change this */
	@media (min-width: 1500px)
		left 108% /* :todo change this */				
 

#photogallery .slider
	max-width 60%
	margin auto
	

#photogallery .bx-controls .fa.fa-6x
	font-size 7em
	@media (max-width: 767px)
		font-size 3em
	@media(min-width: 768px) and (max-width: 991px)		
		font-size 3em
	@media (min-width: 992px) 
		font-size 4em

#photogallery h2
	@media (max-width: 767px)
		margin-top 160px
	@media(min-width: 768px) and (max-width: 991px)	
		margin-top 160px
		
#photogallery .gallery-thumbs-container
	@media (max-width: 767px)
		top -38px
		margin-bottom 30px
	@media(min-width: 768px) and (max-width: 991px)	
		top -38px
		margin-bottom 0px

#photogallery .gallery-thumbs-container
	@media (min-width: 992px)
		top -50px
		margin-bottom 40px
		
#photogallery .bx-controls
	@media (max-width: 767px)
		bottom 130px
	@media(min-width: 768px) and (max-width: 991px)		
		bottom 130px
	@media (min-width: 992px)
		bottom 200px	
	/*@media (min-width: 1200px)	
		bottom 300px*/

#photogallery .bx-controls .bx-next
	@media (max-width: 767px)
		left 102% 
	@media(min-width: 768px) and (max-width: 991px)	
		left 103% 
	@media (min-width: 992px)
		left 103% 
	@media (min-width: 1200px)
		left 106% 
	@media (min-width: 1500px)
		left 108% /* :todo change this */	

.form-section
	background-image url('../images/form-background.jpg')
	background-size cover
	background-repeat no-repeat
	background-position center center
	min-height 400px
	
		
/* Garden section */		
/*.garden-section.circle-image-section 
	.image-wrapper
		background-image url('../images/banner/banner-d.jpg')*/
		
/*.rest-with-your-friends.circle-image-section 
	.image-wrapper
		background-image url('../images/banner/banner-b.jpg')*/
		
				
#communication
	.container-fluid
		padding-left 90px
		padding-right 90px
		@media (max-width: 767px)		
			padding-left 15px
			padding-right 15px
		@media(min-width: 768px) and (max-width: 991px)
			padding-left 15px
			padding-right 15px
		@media (min-width: 992px) 	
			padding-left 15px
			padding-right 15px
	.benefit-block
		width 70%
		@media (max-width: 767px)
			width 98%

	.benefit-block p				
		@media (max-width: 767px)
			margin-bottom 25px
	
	.benefit-wrapper .col-md-2
		@media (max-width: 767px)
			min-height 250px
		@media (min-width: 992px) 
			width 33%
			min-height 250px

	.col-md-offset-1	
		@media (min-width: 992px) 
			margin-left 0px			 		
			

		
#benefits-two-rows
	.benefit-block
		@media (max-width: 767px)
			width 100%
	.benefit-block p				
		@media (max-width: 767px)
			margin-bottom 25px
			
	.col-md-2
		@media (max-width: 767px)
			min-height 250px
		@media (min-width: 992px) 
			width 33%
			min-height 250px
		@media (min-width: 1200px)	 		 
			margin-bottom 0px
			min-height initial
		@media (min-width: 1500px)
			margin-bottom 50px					
	.row
		@media (max-width: 767px)
			margin-bottom 0px
		@media (min-width: 992px) 	
			margin-bottom 0px
		@media (min-width: 1200px)	 		 
			margin-bottom 0px
			
	.colx-xs-show-only
		display none
		@media (max-width: 767px)
			display block		
		@media (min-width: 992px)
			display block	
		@media (min-width: 1200px)
			display none		
	.colx-xs-hide-only
		display block
		@media (max-width: 767px)
			display none
		@media (min-width: 992px)
			display none	
		@media (min-width: 1200px)
			display block	
	.col-md-offset-1, .col-md-offset-3	
		@media (min-width: 992px) 
			margin-left 0px					


#infrastructure
	.col-md-2
		@media (max-width: 767px)
			min-height 250px
		@media (min-width: 992px) 
			width 33%
			min-height 250px
			
	.col-md-offset-1	
		@media (min-width: 992px) 
			margin-left 0px		
				
		
/* Photogallery  */		
.bx-controls .fa.fa-6x
	font-size 7em

/* Contact Form */
.form-section .container-fluid
	width 1376px
	margin: 0 auto;
	

.form-section h2 {

    background-color: red; /* :todo we need to clarify the red color  */
    
    padding-top: 6px; /* :todo check and update this numbers  */
    padding-bottom: 6px;
    padding-right: 25px;
    padding-left: 25px;
}
.form-section .row-padding-120 {
	padding-left: 120px;
}
.form-section .btn-red {
    background: linear-gradient(#fe4545, #ab2a2a);
    display: inline-block;
    /*padding: 5px 15px;*/
    /*color: #fff !important;*/
    border-radius: 4px;
    margin-right: 10px;
    line-height: 20px;
    /*font-size: 23px;*/
    padding: 16px 60px;
    float: right;
    border: 0px solid transparent !important;

    margin-top: 60px;
    outline: none;
    height: 80px;
    width: 100%;
}
.form-section .btn-red:hover {
    color:white;
}
.form-section .btn-red:active,
.form-section .btn-red:focus {
    color:white;
    outline: 0;
}

.form-section .error {
    background-color: green;
}



.col-left-form {
    margin-top: 5px;

}
.col-left-form input {
    width: 480px;
    padding-left: 25px;
    height: 80px;
    
    
}
    	
.row.row-with-three-inputs input,
.row.row-with-three-inputs select,
.row.row-with-three-inputs .select2.select2-container.select2-container--default {
	width: 146px;
	height: 49px;
	text-align: center;
	// color: black;
}
	
.form-section .select2-container--default .select2-selection--single {
	border-radius: 0px; 
	height: 48px;
}
.modal .select2-container--default .select2-selection--single {
	border-radius: 0px; 
}
.form-section .select2-container--default .select2-selection--single .select2-selection__rendered {
	padding-left: 18px; 	
	line-height: 43px;
}
.form-section .select2-container--default .select2-selection--single .select2-selection__placeholder {
	font-size: 24px;
	color: #777;
}
.form-section .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 46px;
}
.js-select-placeholder {
	width: 100%;
}


/*#bxslider
	img
		width initial
		height initial*/
	
/* fixes for scroll with fixed header */	
#second-content-wrapper:before,
#communication-title:before, 
#characteristics-title:before,
#photogallery-title:before,
#contacts-title:before
	display block
	content " "	
	visibility hidden

#second #second-content-wrapper:before
	margin-top -170px
	height 170px 
	@media (max-width: 767px)
		margin-top -170px
		height 170px 	
	@media(min-width: 768px) and (max-width: 991px)
		margin-top -170px
		height 170px 	
	@media (min-width: 992px) 
		margin-top -170px
		height 170px 	
	@media (min-width: 1200px)
		margin-top -170px
		height 170px 	
	@media (min-width: 1500px)
		margin-top -170px
		height 170px 	

#communication #communication-title:before
	margin-top -170px
	height 170px 
	@media (max-width: 767px)
		margin-top -170px
		height 170px 	
	@media(min-width: 768px) and (max-width: 991px)
		margin-top -170px
		height 170px 	
	@media (min-width: 992px) 
		margin-top -170px
		height 170px 	
	@media (min-width: 1200px)
		margin-top -170px
		height 170px 	
	@media (min-width: 1500px)
		margin-top -170px
		height 170px 	

#characteristics #characteristics-title:before
	margin-top -30px
	height 30px 
	@media (max-width: 767px)
		margin-top -30px
		height 30px 	
	@media(min-width: 768px) and (max-width: 991px)
		margin-top -30px
		height 30px 	
	@media (min-width: 992px) 
		margin-top -30px
		height 30px 	
	@media (min-width: 1200px)
		margin-top -30px
		height 30px 	
	@media (min-width: 1500px)
		margin-top -30px
		height 30px 	

#photogallery #photogallery-title:before
	margin-top -30px
	height 30px 
	@media (max-width: 767px)
		margin-top -30px
		height 30px 	
	@media(min-width: 768px) and (max-width: 991px)
		margin-top -30px
		height 30px 	
	@media (min-width: 992px) 
		margin-top -30px
		height 30px 	
	@media (min-width: 1200px)
		margin-top -30px
		height 30px 	
	@media (min-width: 1500px)
		margin-top -30px
		height 30px 	

#contacts #contacts-title:before 		
	margin-top -200px
	height 200px 
	@media (max-width: 767px)
		margin-top -200px
		height 200px	
	@media(min-width: 768px) and (max-width: 991px)
		margin-top -200px
		height 200px	
	@media (min-width: 992px) 
		margin-top -200px
		height 200px	
	@media (min-width: 1200px)
		margin-top -200px
		height 200px
	@media (min-width: 1500px)
		margin-top -200px
		height 200px	