.two-column-section
	.container-fluid
			display flex
	.right-column,
	.left-column
		width 50%
.welcome-section
	height calc(100vh - 80px)
	background url('../images/banner.jpg') 100% 100%
.text-section
	min-height 285px
	display flex
	align-items center
.benefit-section
	background $color-blue
	color white
	text-align center
	.benefit-wrapper
		display flex
		flex-wrap wrap
		justify-content space-around