.nav.nav-links 
	a
		font-size 25px /* check this */
		font-family $font-franklin
		
.nav.navbar-icons a
	font-size 18px
	font-family $font-acrobat

.welcome-section h1
	line-height 77px
	padding-top 15px
	padding-bottom 15px
	width 100%
	font-size 101px
	span.small
		font-size 70px
		font-family $font-franklin
	span.big	
		font-size 70px
		font-family $font-franklin
    
.welcome-section h2
	width 75%    
	padding-top 15px
	padding-bottom 15px
	padding-right 35px
	font-size 30px
	font-family $font-franklin
		    			
.default-button
	font-size 22px
	font-family $font-franklin
	
#second
	font-size 23px
	font-family $font-roboto
	font-weight 300
	font-color black /* change this */

.benefit-section .benefit-title
	font-size 60px
	font-family $font-roboto
				    			
.benefit-section .benefit-block p
	font-size 24px
	font-family $font-roboto
	
.circle-image-section h2
	font-size 70px
	font-family $font-roboto
	
.circle-image-section h3
	font-size 45px
	font-family $font-roboto
	font-weight 300
	line-height 46px		
	
.parameters-section h2	
	font-size 70px
	font-family $font-roboto

.parameters-section h3	
	font-size 45px
	font-family $font-roboto	