.nav.nav-links 
	a
		font-family $font-franklin
		@media(min-width: 768px) and (max-width: 991px)
			font-size 15px
		@media (min-width: 992px) 
			font-size 20px
		@media (min-width: 1200px)
			font-size 20px
		@media (min-width: 1500px)	
			font-size 25px			

		
.nav.navbar-icons a
	font-size 18px
	font-family $font-acrobat
	font-weight 400

.welcome-section h1
	line-height 77px
	padding-top 15px
	padding-bottom 15px
	width 100%
	font-size 101px
	span.small
		font-size 70px
		font-family $font-franklin
	span.big	
		font-size 70px
		font-family $font-franklin
    
.welcome-section h2
	width 75%    
	padding-top 15px
	padding-bottom 15px
	padding-right 35px
	font-size 30px
	font-family $font-franklin
	font-weight 400
	color #2d6daf
		    			
.default-button
	font-size 22px
	font-family $font-franklin
	
#second, #white-text-only
	font-size 23px
	font-family $font-roboto
	font-weight 300
	color #2d6daf

.benefit-section .benefit-title
	font-size 60px
	font-family $font-roboto
	font-weight 400
				    			
.benefit-section .benefit-block p
	font-size 24px
	font-family $font-roboto
	
.circle-image-section h2
	font-size 70px
	font-family $font-roboto
	font-weight 400
	
.circle-image-section h3
	font-size 45px
	font-family $font-roboto
	font-weight 300
	line-height 46px		
	
.parameters-section h2	
	font-size 70px
	font-family $font-roboto
	font-weight 400

.parameters-section h3	
	font-size 45px
	font-family $font-roboto
	font-weight 400	
	
.parameters-block h4
	font-family $font-roboto
	font-weight 400
	@media (max-width: 767px)
		font-size 22px
	@media(min-width: 768px) and (max-width: 991px)
		font-size 22px
	@media (min-width: 992px) 
		font-size 22px
	@media (min-width: 1200px)	
		font-size 20px
	

.parameters-block p
	font-family $font-roboto
	color #777
	@media (max-width: 767px)
		font-size 19px
	@media(min-width: 768px) and (max-width: 991px)
		font-size 19px
	@media (min-width: 992px) 
		font-size 19px
	@media (min-width: 1200px)	
		font-size 16px	
	
#photogallery		
	h2
		font-size 70px
		font-family $font-roboto
		font-weight 400
		


.quote-section h2			
	font-size 60px
	font-family $font-franklin
	color white
	
.quote-section blockquote
	font-size 25px
	font-family $font-roboto
	font-weight 300
	background rgba(39,174,166,.5)
	color white

.form-section
	h2
		font-size 70px
		font-family $font-roboto
		font-weight 400		
		color white
	.title.simple	
		font-size 50px
		font-family $font-roboto
		font-weight 400
		line-height 61px
		text-shadow 2px 2px 1px rgba(0, 0, 0, 0.6)	
		color white
		margin-top 0px
	.btn-red
		font-size 35px		
		font-family $font-roboto
		font-weight 300
		color white
	input
		font-size 24px
		font-family $font-roboto
    	font-weight 300
    	color #999999
    .select2-selection__rendered
    	font-size 28px
		font-family $font-roboto
    	font-weight 300
    	color #999999
    input::-webkit-input-placeholder
  		color #999999
	input::-moz-placeholder
		color #999999
	input:-ms-input-placeholder
		color #999999
	input:-moz-placeholder
		color #999999

    		
		
		
footer h2
	font-size 70px
	font-family $font-roboto	

footer .footer-block p
	font-size 30px
	font-family $font-roboto
	font-weight 400

.modal button.btn.btn-primary.btn-outline
	font-size 22px
	
#FormModal .modal-content h1.modal-title
	font-weight 400
	font-family $font-roboto
	
#FormModal .modal-body h4
	font-size 23px
	font-family $font-roboto
	font-weight 300	
	
#FormModal .modal-body input	
	font-family $font-roboto
	font-weight 300	
