$color-green = #27aea6
$color-red = #fe614e
$color-orange = #ffa841
$color-blue = #2d6daf

$navbar-default-link-color = $color-green
$navbar-default-link-hover-color = $color-red
$navbar-default-color = $color-green
$navbar-margin-bottom = 0px